body {
    transition: .35s;
}

#zonaModo {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
}

#dia,#noche {
   width: 100%; 
   position: absolute;
   top: 0;
   right: 0;
}

#dia:hover,#noche:hover {
    cursor: pointer;
}